/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url("https://freecodingtools.org/static/images/articles/how-to-obfuscate-python-code/Python%20Banner%203.webp") no-repeat center center fixed;
    background-size: cover;
    opacity: 0;
    transition: opacity 0.5s ease;
}

header {
    background: rgba(51, 51, 51, 0.8);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.logo {
    font-size: 2.5em;
    font-weight: bold;
}

.logo span {
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    letter-spacing: -2px;
}

.snake {
    position: absolute;
    bottom: 6%;
    left: -100px;
    width: 100px;
    height: 50px;
    background-image: url('https://media3.giphy.com/media/5fwoTYsw2D6yFI5X9x/giphy.gif');
    background-size: contain;
    background-repeat: no-repeat;
    animation: moveSnake 60s linear infinite;
}

@keyframes moveSnake {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        transform: translateX(100vw);
        opacity: 0;
    }
}

nav {
    margin: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

section {
    padding: 20px;
    margin: 10px;
    background: transparent;
    display: none;
    color: #fff;
    text-align: left;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

section.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: rgba(51, 51, 51, 0.8);
    color: white;
    position: relative;
    width: 100%;
    margin-top: auto;
}

.button {
    padding: 10px 15px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
    width: auto;
    background-color: #007FFF;
}

.button:hover {
    background-color: #FFD700;
}

.social-buttons {
    margin-top: 15px;
}

.social-buttons a {
    margin: 0 10px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

.skill-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    display: flex;
    align-items: center;
    width: calc(30% - 20px);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
}

.skill:hover {
    transform: scale(1.05);
}

.skill-icon {
    font-size: 40px;
    margin-right: 15px;
    color: #FFD700;
}

.progress {
    background-color: #007FFF;
    border-radius: 5px;
    height: 10px;
    position: absolute;
    bottom: 10px;
    left: 15px;
    width: 0;
    transition: width 0.1s ease;
}

.experience-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
    margin-bottom: 20px; /* Отступ снизу для опытного блока */
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    margin: 0 0 10px;
    color: #FFD700;
}

.card ul {
    margin: 0;
    padding: 0;
    list-style-type: circle;
}

.small-image {
    width: 50px;
    height: auto;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

.small-image:hover {
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 600px) {
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        flex: 1;
        margin: 5px;
    }

    .button {
        width: 100%;
    }

    section {
        padding: 10px;
    }

    .skill {
        width: calc(100% - 20px);
    }

    .experience-container, .about-container {
        gap: 10px;
    }
}

.visible {
    opacity: 1;
}

.skillbox-title {
    font-size: 1.5em;
    color: #FFD700;
    margin: 10px 0;
    text-align: left;
    font-weight: bold;
}

.skillbox-certificate {
    margin-top: 20px; /* Отступ сверху для сертификата SkillBox */
}